* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav_bar {
  height: 122px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}
header {
  color: #054c73;
  font-family: Montserrat;
  font-size: 34px;
  font-weight: 700;
  margin: 43px 0 38px 120px;
}
.navtext {
  color: var(--Font-Color, #333);
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.nav_item {
  display: flex;
  gap: 75px;
  margin: 57px 120px 48px;
}
.background_img {
  background-image: url(./image/scandinavian-interior-mockup-wall-decal.png);
  height: 1007.93px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.background_img_container {
  width: 643px;
  height: 443px;
  border-radius: 10px;
  background: #dfe9f4;
  margin: 90px;
}
.background_img_container p {
  color: var(--Font-Color, #333);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px;
  margin: 37px 0 0 39px;
}
.background_img_container h1 {
  width: 559px;
  height: 127px;
  color: var(--Primary-color, #054c73);
  font-family: Montserrat;
  font-size: 52px;
  font-weight: 700;
  line-height: 65px;
  margin: 20px 45px 0 39px;
  flex-shrink: 0;
}
.background_img_container h6 {
  color: var(--Font-Color, #333);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 39px;
  width: 546px;
  height: 78px;
  margin: 20px 58px 0 39px;
}
.buy_now {
  display: inline-flex;
  padding: 25px 72px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 50px;
  background: var(--Primary-color, #054c73);
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0 41px 39px;
}
.delivery_cantainer {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #f2f5ff;
  padding: 0 120px;
}
.delivery_cantainer small {
  color: var(--Font-Color, #333);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.delivery_cantainer b {
  color: var(--Font-Color, #333);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
}

.delivery_cantainer_text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.delivery_cantainer_box {
  display: flex;
  gap: 27px;
}
strong {
  color: var(--Font-Color, #333);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin-top: 60px;
}
small {
  color: var(--Font-Color1, #666);
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  display: block;
  margin-top: 20px;
}
.image_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 130px;
}
.clockimage {
  border-top-left-radius: 80px 80px;
}

.lamp_box {
  min-width: 355px;
  height: 434px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  border-bottom-right-radius: 80px 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.poof {
  padding-bottom: 50px;
}

.beauty_container {
  height: 874px;
  background: #f2f5ff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.beauty_container_text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 295px 30px 0 161px;
}
.beauty_container_text b {
  color: var(--Font-Color, #333);
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
}

.beauty_container_text small {
  color: var(--Font-Color1, #666);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 39px;
  width: 514px;
  height: 122.561px;
  text-align: left;
}
.learn_more {
  display: inline-flex;
  padding: 24px 57px;
  align-items: flex-start;
  gap: 10px;
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50px;
  background: var(--Primary-color, #054c73);
  margin-top: 30px;
}
.beauty_container_img {
  margin: 60px 200px 60px 0;
}
.girl_image {
  border-bottom-right-radius: 80px 80px;
  border-top-left-radius: 80px 80px;
}
.image_container_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  color: var(--Font-Color, #333);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
}
.box_img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}
.footer {
  margin-top: 50px;
  height: 386px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #03344f;
}
.footer_text_container p {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  margin-left: 100px;
}
.footer_small_text {
  width: 400px;
  height: 97px;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  text-align: start;
  margin: 20px 0px 20px 100px;
}
.footer_image_container p {
  color: #fff;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.footer_image {
  margin-right: 50px;
  gap: 20px;
  display: flex;
}
.mail_container {
  height: 363px;
  background: #f2f5ff;
  width: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mail {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gmale {
  border-radius: 3px;
  border: 1px solid var(--Primary-color, #054c73);
  background: #fff;
  padding: 19px 64px;
}
.submit {
  border-radius: 3px;
  border: 1px solid #011c42;
  background: var(--Primary-color, #054c73);
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  padding: 17px 64px;
}
